<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2eefast.flowable.bpm.mapper.bpmCrmCollectionmoneyMapper">
    
    <resultMap type="bpmCrmCollectionmoneyEntity" id="bpmCrmCollectionmoneyResult">
        <result property="id"    column="id"    />
        <result property="processInstanceId"    column="process_instance_id"    />
        <result property="saleCode"    column="sale_code"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="saleUserid"    column="sale_userid"    />
        <result property="saleOrderNumber"    column="sale_order_number"    />
        <result property="outCarVin"    column="out_car_vin"    />
        <result property="outCarVehicle"    column="out_car_vehicle"    />
        <result property="paymentMethod"    column="payment_method"    />
        <result property="transactionDate"    column="transaction_date"    />
        <result property="enterAmount"    column="enter_amount"    />
        <result property="payerName"    column="payer_name"    />
        <result property="payerProofFilepath"    column="payer_proof_filepath"    />
        <result property="payerMemo"    column="payer_memo"    />
        <result property="amountReceived"    column="amount_received"    />
        <result property="cashierMemo"    column="cashier_memo"    />
        <result property="cashierProofFilepath"    column="cashier_proof_filepath"    />
        <result property="checkmoneyReceiptnumber"    column="checkmoney_receiptnumber"    />
        <result property="receivedDate"    column="received_date"    />
        <result property="cashierReview"    column="cashier_review"    />
        <result property="orderTakeEffectTime"    column="order_take_effect_time"    />
        <result property="collectionTime"    column="collection_time"    />
        <result property="intervalDay"    column="interval_day"    />
        <result property="interestRate"    column="interest_rate"    />
        <result property="costOfCapital"    column="cost_of_capital"    />
        <result property="financeManagerReview"    column="finance_manager_review"    />
        <result property="managerReview"    column="manager_review"    />
    </resultMap>

    <sql id="selectbpmCrmCollectionmoneyVo">
        select id, process_instance_id, sale_code, create_by, create_time, update_by, update_time, remark, user_id, del_flag, sale_userid, sale_order_number, out_car_vin, out_car_vehicle, payment_method, transaction_date, enter_amount, payer_name, payer_proof_filepath, payer_memo, amount_received, cashier_memo, cashier_proof_filepath, checkmoney_receiptnumber, received_date, cashier_review, order_take_effect_time, collection_time, interval_day, interest_rate, cost_of_capital, finance_manager_review, manager_review from bpm_crm_collectionmoney
    </sql>


<!--
    <update id="updatebpmCrmCollectionmoney" parameterType="com.j2eefast.flowable.bpm.entity.bpmCrmCollectionmoneyEntity">
        update bpm_crm_collectionmoney
        <trim prefix="SET" suffixOverrides=",">
        <if test="processInstanceId != null  and processInstanceId != ''">process_instance_id = #{processInstanceId},</if>
        <if test="saleCode != null  and saleCode != ''">sale_code = #{saleCode},</if>
        <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
        <if test="createTime != null ">create_time = #{createTime},</if>
        <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        <if test="updateTime != null ">update_time = #{updateTime},</if>
        <if test="remark != null  and remark != ''">remark = #{remark},</if>
        <if test="userId != null ">user_id = #{userId},</if>
        <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        <if test="saleUserid != null ">sale_userid = #{saleUserid},</if>
        <if test="saleOrderNumber != null  and saleOrderNumber != ''">sale_order_number = #{saleOrderNumber},</if>
        <if test="outCarVin != null  and outCarVin != ''">out_car_vin = #{outCarVin},</if>
        <if test="outCarVehicle != null  and outCarVehicle != ''">out_car_vehicle = #{outCarVehicle},</if>
        <if test="paymentMethod != null ">payment_method = #{paymentMethod},</if>
        <if test="transactionDate != null ">transaction_date = #{transactionDate},</if>
        <if test="enterAmount != null ">enter_amount = #{enterAmount},</if>
        <if test="payerName != null  and payerName != ''">payer_name = #{payerName},</if>
        <if test="payerProofFilepath != null  and payerProofFilepath != ''">payer_proof_filepath = #{payerProofFilepath},</if>
        <if test="payerMemo != null  and payerMemo != ''">payer_memo = #{payerMemo},</if>
        <if test="amountReceived != null ">amount_received = #{amountReceived},</if>
        <if test="cashierMemo != null  and cashierMemo != ''">cashier_memo = #{cashierMemo},</if>
        <if test="cashierProofFilepath != null  and cashierProofFilepath != ''">cashier_proof_filepath = #{cashierProofFilepath},</if>
        <if test="checkmoneyReceiptnumber != null  and checkmoneyReceiptnumber != ''">checkmoney_receiptnumber = #{checkmoneyReceiptnumber},</if>
        <if test="receivedDate != null ">received_date = #{receivedDate},</if>
        <if test="cashierReview != null ">cashier_review = #{cashierReview},</if>
        <if test="orderTakeEffectTime != null ">order_take_effect_time = #{orderTakeEffectTime},</if>
        <if test="collectionTime != null ">collection_time = #{collectionTime},</if>
        <if test="intervalDay != null ">interval_day = #{intervalDay},</if>
        <if test="interestRate != null ">interest_rate = #{interestRate},</if>
        <if test="costOfCapital != null ">cost_of_capital = #{costOfCapital},</if>
        <if test="financeManagerReview != null ">finance_manager_review = #{financeManagerReview},</if>
        <if test="managerReview != null  and managerReview != ''">manager_review = #{managerReview},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deletebpmCrmCollectionmoneyById" parameterType="String">
        delete from bpm_crm_collectionmoney where id = #{id}
    </delete>

    <delete id="deleteBatch" parameterType="String">
        delete from bpm_crm_collectionmoney where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
-->
</mapper>