<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j2eefast.flowable.bpm.mapper.bpmCrmPreparationMapper">
    
    <resultMap type="bpmCrmPreparationEntity" id="bpmCrmPreparationResult">
        <result property="id"    column="id"    />
        <result property="processInstanceId"    column="process_instance_id"    />
        <result property="saleCode"    column="sale_code"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="saleUserid"    column="sale_userid"    />
        <result property="saleOrderNumber"    column="sale_order_number"    />
        <result property="outCarVin"    column="out_car_vin"    />
        <result property="outCarVehicle"    column="out_car_vehicle"    />
        <result property="orderMemo"    column="order_memo"    />
        <result property="preparationServicePlace"    column="preparation_service_place"    />
        <result property="preparationServiceType"    column="preparation_service_type"    />
        <result property="preparationServiceMemo"    column="preparation_service_memo"    />
        <result property="preparationInvoiceNumber"    column="preparation_invoice_number"    />
        <result property="preparationInvoiceFilepath"    column="preparation_invoice_filepath"    />
        <result property="preparationActualAmount"    column="preparation_actual_amount"    />
    </resultMap>

    <sql id="selectbpmCrmPreparationVo">
        select id, process_instance_id, sale_code, create_by, create_time, update_by, update_time, remark, user_id, del_flag, sale_userid, sale_order_number, out_car_vin, out_car_vehicle, order_memo, preparation_service_place, preparation_service_type, preparation_service_memo, preparation_invoice_number, preparation_invoice_filepath, preparation_actual_amount from bpm_crm_preparation
    </sql>


<!--
    <update id="updatebpmCrmPreparation" parameterType="com.j2eefast.flowable.bpm.entity.bpmCrmPreparationEntity">
        update bpm_crm_preparation
        <trim prefix="SET" suffixOverrides=",">
        <if test="processInstanceId != null  and processInstanceId != ''">process_instance_id = #{processInstanceId},</if>
        <if test="saleCode != null  and saleCode != ''">sale_code = #{saleCode},</if>
        <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
        <if test="createTime != null ">create_time = #{createTime},</if>
        <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        <if test="updateTime != null ">update_time = #{updateTime},</if>
        <if test="remark != null  and remark != ''">remark = #{remark},</if>
        <if test="userId != null ">user_id = #{userId},</if>
        <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        <if test="saleUserid != null ">sale_userid = #{saleUserid},</if>
        <if test="saleOrderNumber != null  and saleOrderNumber != ''">sale_order_number = #{saleOrderNumber},</if>
        <if test="outCarVin != null  and outCarVin != ''">out_car_vin = #{outCarVin},</if>
        <if test="outCarVehicle != null  and outCarVehicle != ''">out_car_vehicle = #{outCarVehicle},</if>
        <if test="orderMemo != null  and orderMemo != ''">order_memo = #{orderMemo},</if>
        <if test="preparationServicePlace != null ">preparation_service_place = #{preparationServicePlace},</if>
        <if test="preparationServiceType != null ">preparation_service_type = #{preparationServiceType},</if>
        <if test="preparationServiceMemo != null  and preparationServiceMemo != ''">preparation_service_memo = #{preparationServiceMemo},</if>
        <if test="preparationInvoiceNumber != null  and preparationInvoiceNumber != ''">preparation_invoice_number = #{preparationInvoiceNumber},</if>
        <if test="preparationInvoiceFilepath != null  and preparationInvoiceFilepath != ''">preparation_invoice_filepath = #{preparationInvoiceFilepath},</if>
        <if test="preparationActualAmount != null ">preparation_actual_amount = #{preparationActualAmount},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deletebpmCrmPreparationById" parameterType="String">
        delete from bpm_crm_preparation where id = #{id}
    </delete>

    <delete id="deleteBatch" parameterType="String">
        delete from bpm_crm_preparation where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
-->
</mapper>